<h1>Create a new Patient</h1>

<%= form_for @patient do |f| %>

  <div>
    <%= f.label :name %>: 
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :age %>: 
    <%= f.number_field :age %>
  </div>
  <br>
  <div>
    Patient Insurance Card Information:<br>
    <select name="patient[insurance_card_name]">
      <% InsuranceCard.all.each do |card| %>
        <option value="<%= card.name %>"><%= card.name %></option>
      <% end %>
    </select>
  </div>
  <br>
  
  <p><%= f.submit %></p>
<% end %>