<h1>Create a new Patient</h1>

<%= form_for @patient do |f| %>

  <div>
    <%= f.label :name %>: 
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :age %>: 
    <%= f.number_field :age %>
  </div>
  <br>
  <div>
    Patient Insurance Card Information:<br>
    <%= f.fields_for :insurance_cards do |card_form| %>
      <%= card_form.label "Card Name" %>: 
      <%= card_form.text_field :name %>
    <% end %>
  </div>
  
  <p><%= f.submit %></p>
<% end %>