<h1>New Appointment Form</h1>

<%= form_for @appointment do |f| %>
  <%= f.label :month %>:
  <%= f.text_field :month %>
  <br>
  <%= f.label :day %>:
  <%= f.number_field :day %>
  <br>
  Doctor: <%= f.collection_select :doctor_id, Doctor.all, :id, :name %>
  <br>
  Patient: <%= f.collection_select :patient_id, Patient.all, :id, :name %>
  <br>
  <%= f.submit %>
<% end %>